/* background*/
body{
    background-image: url(../images/trap-background.jpg);
}

/* placement of game */
.game{
    width: 68%;
    text-align: center;
    background-color: white;
 
}
.title-image{
  width: 75%;
}
.images{
    background-color: black;
}
.thug{
    width:85%;
}
.pump{
width :50%;
}
.rich{
width:50%;
}
.xxx{
width:50%;
}
.travis{
width: 50%;
}
